.navbar {
    /*background-color: #242526;*/
    background-color: rgba(36,37,38,0.9);
    grid-area: navbar;
    padding: 1rem 1rem;
    position: fixed;
    width: 100%;
}

.navbar__control {
    display: flex;
    justify-content: space-between;
}
   
.navbar__brand {
    color: #fff;
}

.navbar > ul {
    margin: 0;
    padding: 0;
} 

.navbar__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

.navbar__link {
    display: inline-block;
    padding-top: 1rem;
}

.navbar__hide {
    display: none;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape){

}

@media screen and (min-width: 800px) {
    .navbar {
        display: flex;
        justify-content: space-between; 
    }

    .navbar__hide {
        display: block;
    }

    .navbar__burger {
        display: none;
    }

    .navbar__links {
        flex-direction: row;
    }

    .navbar__links > li {
        display: inline-block;
        padding-left: 1rem;
    }

    .navbar__link {
        display: inline-block;
        padding-top: 0rem;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px){
    :hover.navbar__link {
        color: #0070F3;
        text-decoration: underline;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    
    .navbar__link:not(:hover) {
        transition-duration: .5s;
        transition-timing-function: ease;
    }
}