.navbar {
    /*background-color: #242526;*/
    background-color: rgba(36,37,38,0.9);
    display: flex;
    justify-content: space-between;
    grid-area: navbar;
    padding: 1rem 1rem;
    position: fixed;
    width: 100%;
}

.navbar__brand {
    color: #fff;
}

.navbar > ul {
    margin: 0;
    padding: 0;
    color: #fff;
}

.navbar__links > li {
    display: inline-block;
    padding-left: 1rem;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape){

}

@media screen and (min-width: 800px) {

}

/*DESKTOP*/
@media screen and (min-width: 1200px){
    :hover.navbar__link {
        color: #0070F3;
        text-decoration: underline;
        transition-duration: .5s;
        transition-timing-function: ease;
    }
    
    .navbar__link:not(:hover) {
        transition-duration: .5s;
        transition-timing-function: ease;
    }
}