.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar"
        "main"
        "footer";
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: main;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape){

}

@media screen and (min-width: 800px) {

}

/*DESKTOP*/
@media screen and (min-width: 1200px){

}

@media screen and (min-width: 1400px){

}