/*CONTAINER*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    place-items: center;
}

/*TITLE*/
.header__title_night {
    color: #333;
}

/*SUBTITLE*/
.header__subtitle {
    color: #0070F3;
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
}

/*PARAGRAPH*/
.header__paragraph_highlight_blue {
    color: #0070F3;
}

/*IMAGE*/
.header__image {
    display: none;
}

/*BUTTON*/
.header__button {
    display: inline-block;
    border: 2px solid white;
    padding: 1rem 3rem;
    margin: 1rem 0;
    font-weight: bold;
}

.header__button_night {
    border: 2px solid #333;
    color: #333;
}

:hover.header__button_night {
    color: #fff;
}

/*THEME*/
.header__color_light {
    color: #fff;
}

.header__color_dark {
    color: #333;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape){

}

@media screen and (min-width: 800px){
    .header {
        height: 100vh;
        margin: 0 auto;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px){
    .header {
        align-items: center;
    }

    .header__button:hover {
        background-color: #0070F3;
        transition-duration: 1s;
        transition-timing-function: ease;
    }

    .header__button:not(:hover){
        transition-duration: .7s;
        transition-timing-function: ease;
    }

    .header__image {
        display: block;
        width: 100%;
        height: 50%;
    }
}