.footer {
    background-color: var(--background_footer);
    color: var(--text_light);
    padding: 1rem 0rem;
    grid-area: footer;
}

.footer__container {
    width: 85%;
    margin: 0 auto;
}

/*LINKS*/
.footer__content {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}

.footer__titleLinks {
    text-transform: uppercase;
}

.footer__content > div > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer__content >div >ul > li {
    list-style: none;
}

.footer__link {
    padding-bottom: .5rem;
    display: inline-block;
}

/*COPYRIGHT*/
.footer__copyright {
    text-align: center;
}

.footer__copyright>p>span {
    display: block;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape){

}

@media screen and (min-width: 600px) {
    .footer__content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
}

@media screen and (min-width: 800px){
    .footer__content {
            display: flex;
            justify-content: flex-end;
        }

    .footer__content>div>ul {
        text-align: left;
    }

    .footer__content>div {
        margin-left: 3rem;
    }

    .footer__copyright>p>span {
        display: inline-block;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px){
    :hover.footer__link {
        color: var(--secondary_highlight);
        transition-duration: .7s;
        transition-timing-function: ease;
    }

    .footer__link:not(:hover){
        transition-duration: .7s;
        transition-timing-function: ease;
    }
}

@media screen and (min-width: 1400px){
    .footer__container {
        width: 75%;
    }
}