.footer {
    background-color: #303846;
    padding: 1rem 0rem;
    grid-area: footer;
}

.footer__container {
    width: 85%;
    margin: 0 auto;
}

/*LINKS*/
.footer__content {
    display: flex;
    justify-content: space-between  ;
    margin: 3rem 0;
}

.footer__titleLinks {
    color: #fff;
    text-transform: uppercase;
}

.footer__link {
    display: block;
    padding-bottom: .5rem;
}
:hover.footer__link {
    color: #fff;
}

/*COPYRIGHT*/
.footer__copyright {
    color: #fff;
    text-align: center;
}

.footer__hearth{
    color: red;
}

/*THEME*/
.footer_light{
    color: #fff;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape){

}

@media screen and (min-width: 500px) {
    .footer__content {
            display: flex;
            justify-content: flex-end;
        }
    
        .footer__content>div>ul {
            text-align: left;
        }
    
        .footer__content>div {
            margin-left: 3rem;
        }
}

@media screen and (min-width: 800px){
    .footer__content {
        display: flex;
        justify-content: flex-end;
    }

    .footer__content > div > ul  {
        text-align: left;
    }

    .footer__content>div {
        margin-left: 3rem;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px){

    :hover.footer__link {
        color: #0070F3;
        text-decoration: underline;
        transition-duration: .5s;
        transition-timing-function: ease;
    }

    .footer__link:not(:hover){
        transition-duration: .5s;
        transition-timing-function: ease;
    }
}

@media screen and (min-width: 1400px){
    .footer__container {
        width: 75%;
    }
}