.contact{
    padding: 2rem 0;
}

.contact__container {
    display: block;
}

.contact__container > form {
    padding-bottom: 2rem;
}

.contact_socialMedia > p {
    margin: 0 0 2rem 0;
}

.contact_socialMedia > ul {
    padding: 0;
}

.socialMedia__box{
    align-items: center;
    border: 2px solid var(--border_dark);
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-bottom: 1rem;
}

:hover.socialMedia__box > span {
    font-weight: bold;
    color: var(--white);
}

.socialMedia__box_light {
    border: 2px solid var(--border_light);
}

.contact__form__box {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.contact__form__container__box:last-child {
    padding: 0 0 0 2rem;
}

.button_night {
    border: 2px solid var(--border_dark);
    color: var(--text_dark)
}

.socialMedia_image {
    display: none;
    padding-right: .3rem;
}

.socialMedia_image__size {
    width: 5%;
}
    
/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape) {

}

@media screen and (min-width: 800px) {
    .contact__container {
        display: flex;
    }

    .contact__container > form {
        width: 40%;
        padding-bottom: 0;
    }

    .contact__container_flex {
        display: flex;
        justify-content: space-between;
    }

    .contact_socialMedia {
        margin: 0 auto;
        padding-top: 1rem;
        width: 40%;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px) {
    .socialMedia__box:hover {
        background-color: var(--background_blue);
        transition-duration: 1.5s;
        transition-timing-function: ease;
    }

    .socialMedia__box:not(:hover) {
        transition-duration: 1.5s;
        transition-timing-function: ease;
    }

    .socialMedia__box:hover > img {
        display: block;
    }

    .socialMedia__box:not(:hover) > img {
        display: none;
    }
}

@media screen and (min-width: 1400px) {

}