.subtitle {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape) {

}

@media screen and (min-width: 800px) {
    .about {
        width: 75%;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px) {
    .about {
        width: 50%;
    }
}