/*VARIABLES*/
:root {
  --blue: #0070F3;
  --text: #fff;
}

/*GENERAL*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121212;
  height: 100vh;
  color: var(--text);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

p{
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
}

/*CLASSES*/
  /*CONTAINERS*/
.g_container {
  width: 85%;
  margin: 3rem auto 3rem auto;
}

  /*TITLES*/
.g_title {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

  /*TEXT*/
.g_highlight__primary {
  color: var(--blue);
}

  /*INPUTS*/
.g_input__box {
  padding-top: 1rem;
  width: 100%;
}

.g_input__box > label {
  display: block;
  padding-bottom: .5rem;
  font-weight: bold;
}

.g_input {
  width: 100%;
  padding: .5rem;
}

.textarea {
  height: 10rem;
  padding: .5rem;
  resize: none;
  width: 100%;
}


  /*BUTTONS*/
.button {
  border: 2px solid var(--text);
  color: var(--text);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 1rem 3rem;
  margin: 1rem 0;
  background-color: transparent;
}

/*RESPONSIVE*/
  /*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape) {

}

@media screen and (min-width: 800px) {

}

  /*DESKTOP*/
@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {
  .g_container {
    width: 75%;
  }
}