:root {
  --blue: #0070F3;
  --text: #fff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121212;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

/*CLASSES*/
/*CONTENT*/
.g_container {
  width: 85%;
  margin: 0 auto;
}

/*TITLES*/
.g_title {
  color: #fff;
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

/*INPUTS*/
.g_input__box {
  padding-top: 1rem;
  width: 100%;
}

.g_input__box > label {
  display: block;
  padding-bottom: .5rem;
  font-weight: bold;
}

.g_input {
  width: 100%;
  padding: .5rem;
}

.textarea {
  resize: none;
  width: 100%;
  height: 10rem;
}


/*BUTTONS*/
.button {
  background-color: transparent;
  border: 2px solid var(--text);
  color: var(--text);
  cursor: pointer;
  font-weight: bold;
  padding: 1rem 3rem;
  margin: 1rem 0;
}



/*RESPONSIVE*/
/*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape) {

}

@media screen and (min-width: 800px) {

}

/*DESKTOP*/
@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {
  .g_container {
    width: 75%;
  }
}