/*VARIABLES*/
:root {
  --text_blue: #0070F3;
  --text_light: #fff;
  --text_dark: #333;
  --background_dark: #121212;
  --background_light: #FFF;
  --background_blue: #0070F3; 
  --background_contact_dark: #242526;
  --background_contact_light: #353738;
  --background_footer: #303846;
  --border_dark: #333;
  --border_light: #fff;
  --background_green: #0B5062;
}

/*GENERAL*/
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}

p{
  font-size: 1.2rem;
  line-height: 1.5;
}

/*CLASSES*/
  /*CONTAINERS*/
.g_container {
  width: 85%;
  margin: 3rem auto 3rem auto;
}

  /*TITLES*/
.g_title {
  font-size: 2rem;
  margin: 0;
  text-transform: uppercase;
}

  /*TEXT*/
.g_highlight__primary {
  color: var(--text_blue);
}

  /*INPUTS*/
.g_input__box {
  padding-top: 1rem;
  width: 100%;
}

.g_input__box > label {
  display: block;
  padding-bottom: .5rem;
  font-weight: bold;
}

.g_input {
  width: 100%;
  padding: .5rem;
}

.textarea {
  height: 10rem;
  padding: .5rem;
  resize: none;
  width: 100%;
}

  /*THEMES*/
.dark {
  background-color: var(--background_dark);
  color: var(--text_light);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.light {
  background-color: var(--background_light);
  color: var(--text_dark);
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

  /*BUTTONS*/
.button {
  border: 2px solid var(--border_light);
  color: var(--text_light);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 1rem 3rem;
  margin: 1rem 0;
  background-color: transparent;
}

/*RESPONSIVE*/
  /*MOBILE*/
@media screen and (max-width: 799px) and (orientation:landscape) {

}

@media screen and (min-width: 800px) {

}

  /*DESKTOP*/
@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {
  .g_container {
    width: 75%;
  }
}